@charset "utf-8";

/* =========================================================
PARCO Header
========================================================= */
.phd {
  padding: 0 10px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  &__in {
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
  }
  &__logo {
    a {
      display: inline-block;
      line-height: 0;
      font-size: 0;
      text-decoration: none;
    }
    &__txt {
      width: 13px;
      height: 26px;
      margin-right: 2px;
    }
    &__img {
      width: 92px;
      height: 27px;
      vertical-align: bottom;
      margin-bottom: -1px;
      &.parcoya-ueno {
        width: 155px;
        height: 25px;
      }
    }
  }
  &__sns {
      display: flex;
      align-items: center;
      justify-content: center;
    li {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: flex;
        align-items: center;
        width: 35px;
        height: 35px;
        background: #222;
        border-radius: 50%;
        @media screen and (min-width:769px){
          width: 28px;
          height: 28px;
          &:hover {
            opacity: 0.7;
          }
        }
        svg {
          fill: #FFF;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width:769px){
  .phd {
    padding: 0 20px;
    &__in {
      height: 64px;
    }
    &__logo {
      &__txt {
        display: inline-block;
        font-size: 1.5rem;
        width: 14px;
        height: 32px;
        margin-right: 4px;
        vertical-align: middle;
      }
      &__img {
        width: 120px;
        height: 36px;
        vertical-align: middle;
        &.parcoya-ueno {
          width: 205px;
          height: 34px;
        }
      }
    }
  }
}

.phd__sns li .phd__sns__item__link-facebook {
  background: transparent;
}
.phd__sns li .phd__sns__item__link-facebook svg {
  height: 35px;
  @media screen and (min-width:769px){
    height: 28px;
  }
}
.phd__sns li .phd__sns__item__link-twitter {
  background: #3AB1DB;
}
.phd__sns li .phd__sns__item__link-twitter svg {
  height: 16px;
  @media screen and (min-width:769px){
    height: 11px;
  }
}
.phd__sns li .phd__sns__item__link-lineat {
  background: transparent;
}
.phd__sns li .phd__sns__item__link-lineat svg {
  height: 35px;
  @media screen and (min-width:769px){
    height: 28px;
  }
}
.phd__sns li .phd__sns__item__link-instagram {
  background: #d93174;
}
.phd__sns li .phd__sns__item__link-instagram svg {
  height: 19px;
  @media screen and (min-width:769px){
    height: 15px;
  }
}



/* =========================================================
PARCO Footer
========================================================= */
.pft{
  margin-top: 52px;
  padding: 45px 0 58px;
  background: #222;
  position: relative;
  @media screen and (min-width:769px){
    margin-top: 70px;
    padding: 50px 0 40px;
  }
  &__in {
    position:relative;
    margin:0 auto;
    @media screen and (min-width:769px){
      max-width: 930px;
    }
  }
  &__logo {
    text-align: center;
    svg {
      fill: #fff;
    }
    a {
      text-decoration: none;
    }
    &__txt {
      width: 14px;
      height: 32px;
      margin-right: 4px;
    }
    &__img {
      width: 120px;
      height: 36px;
      vertical-align: bottom;
      margin-bottom: -1px;
      &.parcoya-ueno {
        width: 205px;
        height: 34px;
      }
    }
    &.nagoya {
      .pft__logo__txt {
        margin-right: 5px;
      }
    }
  }
  &__pageTop {
    position:absolute;
    top: -66px;
    left:50%;
    margin-left: -22px;
    @media screen and (min-width:769px){
      display: none;
      position: fixed;
      top: auto;
      left: auto;
      right: 30px;
      bottom: 30px;
      margin: 0;
    }
    a {
      display: inline-block;
      position: relative;
      width: 45px;
      height: 45px;
      background: #222;
      border-radius: 50%;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      @media screen and (min-width:769px){
        width: 54px;
        height: 54px;
        background: #FFF;
        border-radius: 50%;
        text-indent: 100%;
      }
      &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -5px 0 0 -6px;
      width: 7px;
      height: 7px;
      border-top: #fff 2px solid;
      border-right: #fff 2px solid;
      transform: rotate(-45deg);
      @media screen and (min-width:769px){
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -7px;
        width: 11px;
        height: 11px;
        border-top: #222 3px solid;
        border-right: #222 3px solid;
        }
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__copyright {
    margin-top: 30px;
    text-align: center;
    line-height: 0;
    svg {
      height: 11px;
      fill: #fff;
      overflow: hidden;
    }
  }
}

