.header {
  @include media-min(medium) {
    min-width: 1200px;
  }
}

.header__title {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #000;
  margin-bottom: 52px;

  @include media-min(medium) {
    text-align: center;
  }
}
