.shop {
  @include media-min(medium) {
    position: relative;
  }
}

.shop__modal-trigger {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;

  @include media-max(medium) {
    display: none;
  }
}

.shop__photo {
  display: block;
  width: 100%;
  height: auto;
}

.shop__center-block {
  padding: 5px 20px 0 20px;
}

.shop__link {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #000;
  color: #000;
}

.shop__info {
  flex: 0 0 70px;
  width: 70px;
  height: 70px;
  padding: 10px 8px;
  background: #e3007f;
  border-radius: 50%;
  color: #fff;
  line-height: 1.1;
  text-align: center;
}

.shop__logo {
  flex: 1 1 auto;
  text-align: center;
}

.shop__logo-image {
  width: 100%;
}

.shop__date-day {
  font-size: 13px;
}

.shop__date-week {
  padding-bottom: 2px;
  border-bottom: 1px solid;
  margin-top: 4px;
  font-size: 10px;
}

.shop__classification {
  margin-top: 4px;
  font-size: 10px;
}

.shop__bottom-block {
  margin: 13px 20px 0 20px;
  @include media-min (medium) {
    padding-bottom: 20px;
  }
}

.shop__name {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  word-break: break-word;
}

.shop__floor {
  margin-top: 8px;
  color: #727171;
  line-height: 1.4;
  text-align: center;
  font-size: 11px;
}

.shop__description {
  display: none;
  padding-top: 12px;
  margin-top: 0px;
  font-size: 12px;
  line-height: 1.54;
}

.shop__description-text {
}

.shop__special-heading {
  padding-top: 1.5em;
}

.shop__toggle-button {
  display: block;
  width: calc(100% + 40px);
  padding: 13px 0;
  margin: 17px -20px 0;
  border: 0;
  background: #000;
  color: #fff;
  font-size: 15px;
  text-align: center;
  &::after {
    content: "+ MORE";
  }

  &.is-open {
    &::after {
      content: "- CLOSE";
    }
  }

  @include media-min (medium) {
    display: none;
  }
}
