.shop-modal {
  display: none;
}

.shop-modal__content {
  display: flex;
  padding: 47px 43px 136px;
  background: #fff;
}

.shop-modal__photo {
  flex: 0 0 310px;
}

.shop-modal__photo-image {
  vertical-align: middle;
  max-width: 100%;
}

.shop-modal__detail {
  margin-left: 90px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo,
    メイリオ, Osaka, "MS PGothic", sans-serif;
  font-size: 13px;
  font-style: italic;
}

.shop-modal__info {
  color: #e3007f;
  font-family: "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", Meiryo,
    メイリオ, Osaka, "MS PGothic", sans-serif;
  font-size: 18px;
}

.shop-modal__floor-category {
  margin-bottom: 10px;
}

.shop-modal__name {
  padding-left: 5px;
  border-left: 4px solid #e3007f;
  margin: 20px 0 15px;
  font-family: "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", Meiryo,
    メイリオ, Osaka, "MS PGothic", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.shop-modal__name-link {
  text-decoration: none;
}

.shop-modal__name-arrow {
  display: inline-block;
  width: 17px;
  height: 12px;
  margin: -1px 0 1px 0px;
  background: url($image-path + "icons/icon_arrow01.png") no-repeat center;
}

.shop-modal__paragraph {
  line-height: 1.8;
}

.shop-modal__special-heading {
  margin: 32px 0 10px;
  color: #e3007f;
  font-family: "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", Meiryo,
    メイリオ, Osaka, "MS PGothic", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
}
