.shop-list {
  padding: 15px;
  @include media-min(medium) {
    padding: 154px 0 0;
  }
}

.shop-list__items {
  @include media-min(medium) {
    position: relative;
    z-index: 999;
    display: flex;
    max-width: 986px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.shop-list__item {
  background: #fff;
  border: solid 1px #000;

  @include media-max(medium) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include media-min(medium) {
    position: relative;
    max-width: 312px;
    border: solid 1px #000;
    margin: 0 0 25px 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.shop-list__notes {
  margin: 30px 15px 42px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5;

  @include media-min(medium) {
    width: 85%;
    max-width: 980px;
    padding-top: 26px;
    margin-right: auto;
    margin-left: auto;
    color: #2a2a2a;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.3;
  }
}

.shop-list__coming-image {
  position: relative;
  z-index: 3;
  margin-bottom: -13px;

  text-align: center;  @include media-min(medium) {
    display: none;
  }
}

.shop-list__coming-text {
  position: relative;
  z-index: 2;
  padding: 20px 18px;
  border: solid 2px #000;
  margin: 0 15px;
  margin-top: 104px;
  margin-bottom: 255px;
  color: #2a2a2a;
  font-size: 13px;
  font-weight: bold;
  text-align: center;

  @include media-min(medium) {
    width: 85%;
    max-width: 1200px;
    padding: 30px 18px;
    margin: 0 auto;
    font-size: 24px;
    &::after {
      position: absolute;
      top: -24px;
      left: 38%;
      content: url($image-path + "txt_coming.png");
    }
  }
}
