.header {
  @include media-min(medium) {
    min-width: 1200px;
  }
}

.header__title {
  padding: 20px 0;
  background: #003b5d;

  @include media-min(medium) {
    box-sizing: border-box;
    text-align: center;
  }
}

.header__title .title_sp {
  display: block;
  width: 284px;
  height: 126px;
  margin: 60px auto 49px;

  @include media-min(medium) {
    display: none;
  }
}

.header__title .title_pc {
  display: none;

  @include media-min(medium) {
    display: inline-block;
    padding: 120px 0 108px;
  }
}
