.shop-list {
  margin: 50px 15px 0;

  @include media-min(medium) {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 36px;
    margin: 60px auto -10px;
  }
}

.shop-list__item {
  margin-bottom: 32px;

  @include media-min(medium) {
    position: relative;
    overflow: hidden;
    width: 393px;
    height: 393px;
    margin-bottom: 10px;
    &:not(:nth-child(3n)) {
      margin-right: 10px;
    }
  }
}
