// This file includes both .shop for SP layout and .shop-pc for PC layout.

.shop {
  @include media-min(medium) {
    display: none;
  }
}

.shop__photo {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.shop__link {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.shop__header {
  order: 2;
  margin: 4px 0;
}

.shop__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: 1;
  padding-top: 10px;
  margin-bottom: 8px;
}

.shop__footer {
  padding: 0 20px;
}

.shop__name {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
}

.shop__floor {
  margin-top: -1px;
  color: #727171;
  font-size: 11px;
  line-height: 1.4;
}

.shop__description {
  display: none;
  padding-top: 12px;
  border-top: 1px solid #000;
  margin-top: 7px;
  font-size: 12px;
  line-height: 1.54;
  text-align: left;
}

.shop__button-more {
  width: calc(100% + 40px);
  padding: 8px 0;
  border: 0;
  margin: 26px -20px 0;
  background: #000;
  color: #fff;
  font-size: 15px;
  text-align: center;
  &::after {
    content: "+ MORE";
  }

  &.is-open {
    &::after {
      content: "- CLOSE";
    }
  }
}

.shop__info {
  width: 68px;
  flex: 0 0 68px;
  padding: 12px 8px;
  background: #0178bd;
  border-radius: 16px;
  color: #fff;
  line-height: 1.1;
  text-align: center;
  vertical-align: middle;
}

.shop__date {
  font-size: 18px;
}

// TODO: スプレッドシートの項目を「曜日」と「日付」に分割したら使う（かも）
// .shop__date2 {
//   margin-top: 5px;
//   padding-bottom: 8px;
//   font-size: 11px;
//   border-bottom: 1px solid;
// }

.shop__classification {
  margin-top: 8px;
  font-size: 10px;
}

.shop__logo {
  flex: 1 1 auto;
  text-align: center;
  vertical-align: middle;
}

.shop__logo-image {
  width: 100%;
}

// ---- PC ----

.shop-pc {
  @include media-max(medium) {
    display: none;
  }
}

.shop-pc__link {
  display: block;
  &:hover {
    text-decoration: none;

    .shop-pc__photo {
      transform: scale(1.2);
    }

    .shop-pc__body {
      opacity: 1;
    }
  }
}

.shop-pc__photo {
  transition: transform 0.8s ease;
}

.shop-pc__body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 373px;
  height: 373px;
  padding: 28px 30px 0;
  margin: auto;
  background: rgba(256, 256, 256, 0.85);
  font-size: 12px;
  opacity: 0;
  text-align: center;
  transition: 0.3s ease opacity;
}

.shop-pc__info-wrap {
  color: #fff;
  font-weight: bold;
}

.shop-pc__info {
  display: inline-block;
  padding: 4px 18px;
  background: #0178bd;
  border-radius: 15px;
}

.shop-pc__floor {
  margin-top: 15px;
  font-weight: bold;
}

.shop-pc__name {
  margin-top: 5px;
  font-weight: bold;
}

.shop-pc__logo {
  display: flex;
  width: 100%;
  height: 132px;
  align-items: center;
  justify-content: center;
}

.shop-pc__logo-image {
}

.shop-pc__description {
  padding: 10px 0px 0;
  border-top: 1px solid #000;
  line-height: 1.66;
  text-align: left;
}
