.tab-list {
  display: flex;
  width: 269px;
  justify-content: space-between;
  margin: 36px auto 0;
  list-style-type: none;

  @include media-min(medium) {
    display: flex;
    width: auto;
    justify-content: flex-start;
    margin-top: 45px;
    list-style-type: none;
  }
}

.tab-list__item {
  position: relative;
  font-size: 9px;
  &::after {
    position: absolute;
    top: 8px;
    left: 65px;
    width: 4px;
    height: 4px;
    background-color: #cdcdcd;
    border-radius: 50%;
    content: "";
  }
  &:nth-child(3) {
    &::after {
      display: none;
    }
  }

  @include media-min(medium) {
    font-size: 10px;
    letter-spacing: 0.05em;
    &:after {
      top: 14px;
      left: 160px;
      width: 6px;
      height: 6px;
    }
    &:first-child {
      margin-left: 274px;
    }
    &:nth-child(2) {
      margin-left: 210px;
    }
    &:nth-child(3) {
      margin-left: 200px;
    }
  }
}

.tab-list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

.tab-list__txt-en {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  letter-spacing: 0.05em;

  @include media-min(medium) {
    font-size: 28px;
  }
}

.tab-list__txt-ja {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    right: -12px;
    bottom: 0;
    width: 0;
    height: 0;
    margin: auto 0;
    border-color: transparent;
    border-style: solid;
    border-top-color: #838383;
    border-width: 5px 3px 0 3px;
    content: "";
  }

  @include media-min(medium) {
    &::before {
      display: none;
    }
  }
}
