@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/***
*
* parco-header
*
*/
.phd {
  overflow: hidden;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.phd__in {
  position: relative;
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.phd__logo a {
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.phd__logo__txt {
  width: 13px;
  height: 26px;
  margin-right: 2px;
}

.phd__logo__img {
  width: 92px;
  height: 27px;
  margin-bottom: -1px;
  vertical-align: bottom;
}

.phd__sns li {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.phd__sns li:last-child {
  margin-right: 0;
}

.phd__sns li a {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  background: #222;
  border-radius: 50%;
}

.phd__sns li a:hover {
  opacity: 0.7;
}

.phd__sns li a svg {
  width: 100%;
  fill: #fff;
}

.phd__sns li .phd__sns__item__link-facebook {
  background: #3b5998;
}

.phd__sns li .phd__sns__item__link-facebook svg {
  height: 20px;
}

.phd__sns li .phd__sns__item__link-twitter {
  background: #3ab1db;
}

.phd__sns li .phd__sns__item__link-twitter svg {
  height: 16px;
}

.phd__sns li .phd__sns__item__link-lineat {
  background: #00b900;
}

.phd__sns li .phd__sns__item__link-lineat svg {
  height: 20px;
}

.phd__sns li .phd__sns__item__link-instagram {
  background: #d93174;
}

.phd__sns li .phd__sns__item__link-instagram svg {
  height: 19px;
}

/***
*
* parco-footer
*
*/
.pft {
  position: relative;
  padding: 45px 0 58px;
  margin-top: 52px;
  background: #222;
}

.pft__in {
  position: relative;
  margin: 0 auto;
}

.pft__logo {
  text-align: center;
}

.pft__logo__txt {
  display: inline-block;
  margin-right: 8px;
  color: #fff;
  font-size: 1.9rem;
}

.pft__logo__img {
  overflow: hidden;
  /* IE11 */
  width: 132px;
  height: 39px;
  margin-bottom: -2px;
  fill: #fff;
  vertical-align: bottom;
}

.pft__pageTop {
  position: absolute;
  top: -66px;
  left: 50%;
  margin-left: -22px;
}

.pft__pageTop a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 45px;
  height: 45px;
  background: #222;
  border-radius: 50%;
  text-indent: 100%;
  white-space: nowrap;
}

.pft__pageTop a::after {
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 9px;
  height: 9px;
  border-top: #fff 2px solid;
  border-right: #fff 2px solid;
  margin: auto;
  content: "";
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pft__copyright {
  margin-top: 30px;
  line-height: 0;
  text-align: center;
}

.pft__copyright svg {
  overflow: hidden;
  height: 11px;
  fill: #fff;
}

/* footer-bnr */
.footer-bnr {
  padding: 0 10px 20px;
  margin-top: 30px;
  clear: both;
}

.ft-bnr {
  margin-bottom: 20px;
}

.ft-bnr:last-child {
  margin: 0;
}

.ft-bnr a {
  display: block;
}

.ft-bnr a:hover {
  opacity: 0.7;
}

.ft-bnr a img {
  width: 100%;
}

.footer__social {
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.footer__social .social__item {
  display: inline-block;
  height: 20px;
  margin: 0 2px;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
}

.footer__social .social__item a:hover {
  opacity: 0.6;
}

.footer__social .social__item img {
  height: 100%;
}

.localnav-wrap {
  margin-top: 30px;
}

.localnav {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.localnav__item {
  position: relative;
  width: 48%;
}

.localnav__item a {
  position: relative;
  display: block;
  padding: 7px 0;
  background: #f2ec27;
  border-radius: 5px;
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.localnav__item a::after {
  position: absolute;
  bottom: -8px;
  left: calc(50% - 8px);
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent transparent;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  content: "";
}

.floornav {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  margin: 30px 20px 0;
  border-radius: 4px;
}

.floornav li {
  width: 50%;
  margin: 0;
  list-style: none;
}

.floornav li a {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 3px 0;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

body.type1 .floornav__item01 a,
body.type1 .floornav__item02 a {
  background: #000;
  color: #fff;
}

body.type1 .floornav__item01 a::after,
body.type1 .floornav__item02 a::after {
  border-color: #000 transparent transparent transparent;
}

body.page-sale .localnav__item01 a::after,
body.page-sale .localnav__item02 a::after,
body.page-tag .localnav__item01 a::after,
body.page-tag .localnav__item02 a::after {
  border-color: #f2ec27 transparent transparent transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-family: sans-serif;
  font-size: 1.4em;
  line-height: 1.5;
}

/*************************************
helper classes
*************************************/
.mt00 {
  margin-top: 0 !important;
}

.mt03 {
  margin-top: 3px !important;
}

.mt05 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mb00 {
  margin-bottom: 0 !important;
}

.mb05 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml00 {
  margin-left: 0 !important;
}

.ml05 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.ml95 {
  margin-left: 95px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.mr00 {
  margin-right: 0 !important;
}

.mr05 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.pt00 {
  padding-top: 0 !important;
}

.pt05 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pb00 {
  padding-bottom: 0 !important;
}

.pb05 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.pb85 {
  padding-bottom: 85px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.pb95 {
  padding-bottom: 95px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pl00 {
  padding-left: 0 !important;
}

.pl05 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pl55 {
  padding-left: 55px !important;
}

.pl60 {
  padding-left: 60px !important;
}

.pl65 {
  padding-left: 65px !important;
}

.pl70 {
  padding-left: 70px !important;
}

.pl75 {
  padding-left: 75px !important;
}

.pl80 {
  padding-left: 80px !important;
}

.pl85 {
  padding-left: 85px !important;
}

.pl90 {
  padding-left: 90px !important;
}

.pl95 {
  padding-left: 95px !important;
}

.pl100 {
  padding-left: 100px !important;
}

.pr00 {
  padding-right: 0 !important;
}

.pr05 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pr65 {
  padding-right: 65px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pr80 {
  padding-right: 80px !important;
}

.pr85 {
  padding-right: 85px !important;
}

.pr90 {
  padding-right: 90px !important;
}

.pr95 {
  padding-right: 95px !important;
}

.pr100 {
  padding-right: 100px !important;
}

/* px */
.fz10 {
  font-size: 10px !important;
}

.fz11 {
  font-size: 11px !important;
}

.fz12 {
  font-size: 12px !important;
}

.fz13 {
  font-size: 13px !important;
}

.fz14 {
  font-size: 14px !important;
}

.fz15 {
  font-size: 15px !important;
}

.fz16 {
  font-size: 16px !important;
}

.fz17 {
  font-size: 17px !important;
}

.fz18 {
  font-size: 18px !important;
}

.fz19 {
  font-size: 19px !important;
}

.fz20 {
  font-size: 20px !important;
}

.fz21 {
  font-size: 21px !important;
}

.fz22 {
  font-size: 22px !important;
}

.fz23 {
  font-size: 23px !important;
}

.fz24 {
  font-size: 24px !important;
}

.fz25 {
  font-size: 25px !important;
}

.fz26 {
  font-size: 26px !important;
}

.fz27 {
  font-size: 27px !important;
}

.fz28 {
  font-size: 28px !important;
}

.fz29 {
  font-size: 29px !important;
}

.fz30 {
  font-size: 30px !important;
}

.fz31 {
  font-size: 31px !important;
}

.fz32 {
  font-size: 32px !important;
}

.fz33 {
  font-size: 33px !important;
}

.fz34 {
  font-size: 34px !important;
}

.fz35 {
  font-size: 35px !important;
}

.fz36 {
  font-size: 36px !important;
}

.fz37 {
  font-size: 37px !important;
}

.fz38 {
  font-size: 38px !important;
}

.fz39 {
  font-size: 39px !important;
}

.fz40 {
  font-size: 40px !important;
}

.lh00 {
  line-height: 0 !important;
}

.lh11 {
  line-height: 1.1 !important;
}

.lh12 {
  line-height: 1.2 !important;
}

.lh13 {
  line-height: 1.3 !important;
}

.lh14 {
  line-height: 1.4 !important;
}

.lh15 {
  line-height: 1.5 !important;
}

.lh16 {
  line-height: 1.6 !important;
}

.lh17 {
  line-height: 1.7 !important;
}

.lh18 {
  line-height: 1.8 !important;
}

.lh19 {
  line-height: 1.9 !important;
}

.lh20 {
  line-height: 2 !important;
}

.lh21 {
  line-height: 2.1 !important;
}

.lh22 {
  line-height: 2.2 !important;
}

.lh23 {
  line-height: 2.3 !important;
}

.lh24 {
  line-height: 2.4 !important;
}

.lh25 {
  line-height: 2.5 !important;
}

.ta-c {
  text-align: center !important;
}

.ta-l {
  text-align: left !important;
}

.ta-r {
  text-align: right !important;
}

.dy-n {
  display: none !important;
}

.dy-b {
  display: block !important;
}

.dy-ib {
  display: inline-block !important;
}

.dy-i {
  display: inline !important;
}

.fl-l {
  float: left !important;
}

.fl-r {
  float: right !important;
}

.fl-n {
  float: none !important;
}

.va-m {
  vertical-align: middle !important;
}

.va-bl {
  vertical-align: baseline !important;
}

.va-t {
  vertical-align: top !important;
}

.va-b {
  vertical-align: bottom !important;
}

.td-u {
  text-decoration: underline !important;
}

.fw-b {
  font-weight: bold !important;
}

.fw-n {
  font-weight: normal !important;
}

.sp-visible {
  display: block;
}

.pc-visible {
  display: none;
}

.contents__inner {
  max-width: 1200px;
  padding-top: 10px;
  margin: 0 auto;
  background: #fff;
}

.header__title {
  padding: 20px 0;
  background: #003b5d;
}

.header__title .title_sp {
  display: block;
  width: 284px;
  height: 126px;
  margin: 60px auto 49px;
}

.header__title .title_pc {
  display: none;
}

.tab-list {
  display: flex;
  width: 269px;
  justify-content: space-between;
  margin: 36px auto 0;
  list-style-type: none;
}

.tab-list__item {
  position: relative;
  font-size: 9px;
}

.tab-list__item::after {
  position: absolute;
  top: 8px;
  left: 65px;
  width: 4px;
  height: 4px;
  background-color: #cdcdcd;
  border-radius: 50%;
  content: "";
}

.tab-list__item:nth-child(3)::after {
  display: none;
}

.tab-list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  line-height: 1;
}

.tab-list__link:hover {
  text-decoration: none;
}

.tab-list__txt-en {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.tab-list__txt-ja {
  position: relative;
}

.tab-list__txt-ja::before {
  position: absolute;
  top: 0;
  right: -12px;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: #838383;
  border-width: 5px 3px 0 3px;
  content: "";
}

.shop-list {
  margin: 50px 15px 0;
}

.shop-list__item {
  margin-bottom: 32px;
}

.shop__photo {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.shop__link {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  color: #000;
}

.shop__link:hover {
  text-decoration: none;
}

.shop__header {
  order: 2;
  margin: 4px 0;
}

.shop__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: 1;
  padding-top: 10px;
  margin-bottom: 8px;
}

.shop__footer {
  padding: 0 20px;
}

.shop__name {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
}

.shop__floor {
  margin-top: -1px;
  color: #727171;
  font-size: 11px;
  line-height: 1.4;
}

.shop__description {
  display: none;
  padding-top: 12px;
  border-top: 1px solid #000;
  margin-top: 7px;
  font-size: 12px;
  line-height: 1.54;
  text-align: left;
}

.shop__button-more {
  width: calc(100% + 40px);
  padding: 8px 0;
  border: 0;
  margin: 26px -20px 0;
  background: #000;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.shop__button-more::after {
  content: "+ MORE";
}

.shop__button-more.is-open::after {
  content: "- CLOSE";
}

.shop__info {
  width: 68px;
  flex: 0 0 68px;
  padding: 12px 8px;
  background: #0178bd;
  border-radius: 16px;
  color: #fff;
  line-height: 1.1;
  text-align: center;
  vertical-align: middle;
}

.shop__date {
  font-size: 18px;
}

.shop__classification {
  margin-top: 8px;
  font-size: 10px;
}

.shop__logo {
  flex: 1 1 auto;
  text-align: center;
  vertical-align: middle;
}

.shop__logo-image {
  width: 100%;
}

.shop-pc__link {
  display: block;
}

.shop-pc__link:hover {
  text-decoration: none;
}

.shop-pc__link:hover .shop-pc__photo {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.shop-pc__link:hover .shop-pc__body {
  opacity: 1;
}

.shop-pc__photo {
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.shop-pc__body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 373px;
  height: 373px;
  padding: 28px 30px 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.85);
  font-size: 12px;
  opacity: 0;
  text-align: center;
  transition: 0.3s ease opacity;
}

.shop-pc__info-wrap {
  color: #fff;
  font-weight: bold;
}

.shop-pc__info {
  display: inline-block;
  padding: 4px 18px;
  background: #0178bd;
  border-radius: 15px;
}

.shop-pc__floor {
  margin-top: 15px;
  font-weight: bold;
}

.shop-pc__name {
  margin-top: 5px;
  font-weight: bold;
}

.shop-pc__logo {
  display: flex;
  width: 100%;
  height: 132px;
  align-items: center;
  justify-content: center;
}

.shop-pc__description {
  padding: 10px 0px 0;
  border-top: 1px solid #000;
  line-height: 1.66;
  text-align: left;
}

@media screen and (min-width: 769px) {
  .phd {
    min-width: 1200px;
    padding: 0 20px;
  }
  .phd__in {
    height: 64px;
  }
  .phd__logo__txt {
    display: inline-block;
    width: 14px;
    height: 32px;
    margin-right: 4px;
    font-size: 1.5rem;
    vertical-align: middle;
  }
  .phd__logo__img {
    width: 120px;
    height: 36px;
    vertical-align: middle;
  }
  .phd__sns li a {
    width: 28px;
    height: 28px;
  }
  .phd__sns li .phd__sns__item__link-facebook svg {
    height: 16px;
  }
  .phd__sns li .phd__sns__item__link-twitter svg {
    height: 11px;
  }
  .phd__sns li .phd__sns__item__link-lineat svg {
    height: 14px;
  }
  .phd__sns li .phd__sns__item__link-instagram svg {
    height: 15px;
  }
  .pft {
    min-width: 1200px;
    padding: 87px 0 100px;
    margin-top: 32px;
  }
  .pft__in {
    max-width: 930px;
  }
  .pft__logo__txt {
    margin-right: 10px;
    font-size: 18px;
  }
  .pft__pageTop {
    position: absolute;
    top: -4px;
    right: 0px;
    left: auto;
  }
  .pft__pageTop a {
    width: 54px;
    height: 54px;
    background: #fff;
    border-radius: 50%;
    text-indent: 100%;
  }
  .pft__pageTop a::after {
    width: 11px;
    height: 11px;
    border-top: #222 3px solid;
    border-right: #222 3px solid;
  }
  .pft__pageTop a:hover {
    opacity: 0.7;
  }
  .footer-bnr {
    display: flex;
    margin: 50px -10px 70px;
  }
  .ft-bnr {
    width: 50%;
    padding: 0 10px;
    margin: 0;
  }
  .footer__social .social__item {
    margin: 0 11px;
  }
  .localnav-wrap {
    margin: 100px auto 0;
  }
  .localnav {
    margin: 0;
  }
  .localnav__item a {
    padding: 15px 0;
    border-radius: 8px;
    font-size: 2.1em;
  }
  .localnav__item a::after {
    bottom: -8px;
    left: calc(50% - 10px);
    border-width: 8px 6px 0 6px;
  }
  .localnav__item a:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  .floornav {
    margin: 80px 200px 20px;
  }
  .floornav li a {
    font-size: 2rem;
    text-decoration: none;
  }
  .floornav li a:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  .sp-visible {
    display: none;
  }
  .pc-visible {
    display: block;
  }
  .header {
    min-width: 1200px;
  }
  .header__title {
    box-sizing: border-box;
    text-align: center;
  }
  .header__title .title_sp {
    display: none;
  }
  .header__title .title_pc {
    display: inline-block;
    padding: 120px 0 108px;
  }
  .tab-list {
    display: flex;
    width: auto;
    justify-content: flex-start;
    margin-top: 45px;
    list-style-type: none;
  }
  .tab-list__item {
    font-size: 10px;
    letter-spacing: 0.05em;
  }
  .tab-list__item:after {
    top: 14px;
    left: 160px;
    width: 6px;
    height: 6px;
  }
  .tab-list__item:first-child {
    margin-left: 274px;
  }
  .tab-list__item:nth-child(2) {
    margin-left: 210px;
  }
  .tab-list__item:nth-child(3) {
    margin-left: 200px;
  }
  .tab-list__txt-en {
    font-size: 28px;
  }
  .tab-list__txt-ja::before {
    display: none;
  }
  .shop-list {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 36px;
    margin: 60px auto -10px;
  }
  .shop-list__item {
    position: relative;
    overflow: hidden;
    width: 393px;
    height: 393px;
    margin-bottom: 10px;
  }
  .shop-list__item:not(:nth-child(3n)) {
    margin-right: 10px;
  }
  .shop {
    display: none;
  }
}

@media print {
  html,
  body {
    _zoom: 70% !important;
  }
}

@media screen and (max-width: 768px) {
  .shop-pc {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
