@charset "UTF-8";
/* =========================================================
body
========================================================= */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap");
html {
  font-size: 62.5%;
  letter-spacing: 0.03em;
  line-height: 1.3rem;
}

body {
  color: #000;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}

img {
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

button {
  cursor: pointer;
}

@media print {
  html, body {
    _zoom: 70% !important;
  }
}

main {
  display: block;
  /*IE*/
}

/* =========================================================
default
========================================================= */
/* =========================================================
PARCO Header
========================================================= */
.phd {
  padding: 0 10px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.phd__in {
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.phd__logo a {
  display: inline-block;
  line-height: 0;
  font-size: 0;
  text-decoration: none;
}

.phd__logo__txt {
  width: 13px;
  height: 26px;
  margin-right: 2px;
}

.phd__logo__img {
  width: 92px;
  height: 27px;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.phd__logo__img.parcoya-ueno {
  width: 155px;
  height: 25px;
}

.phd__sns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phd__sns li {
  margin-right: 8px;
}

.phd__sns li:last-child {
  margin-right: 0;
}

.phd__sns li a {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #222;
  border-radius: 50%;
}

@media screen and (min-width: 769px) {
  .phd__sns li a {
    width: 28px;
    height: 28px;
  }
  .phd__sns li a:hover {
    opacity: 0.7;
  }
}

.phd__sns li a svg {
  fill: #FFF;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .phd {
    padding: 0 20px;
  }
  .phd__in {
    height: 64px;
  }
  .phd__logo__txt {
    display: inline-block;
    font-size: 1.5rem;
    width: 14px;
    height: 32px;
    margin-right: 4px;
    vertical-align: middle;
  }
  .phd__logo__img {
    width: 120px;
    height: 36px;
    vertical-align: middle;
  }
  .phd__logo__img.parcoya-ueno {
    width: 205px;
    height: 34px;
  }
}

.phd__sns li .phd__sns__item__link-facebook {
  background: transparent;
}

.phd__sns li .phd__sns__item__link-facebook svg {
  height: 35px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-facebook svg {
    height: 28px;
  }
}

.phd__sns li .phd__sns__item__link-twitter {
  background: #3AB1DB;
}

.phd__sns li .phd__sns__item__link-twitter svg {
  height: 16px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-twitter svg {
    height: 11px;
  }
}

.phd__sns li .phd__sns__item__link-lineat {
  background: transparent;
}

.phd__sns li .phd__sns__item__link-lineat svg {
  height: 35px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-lineat svg {
    height: 28px;
  }
}

.phd__sns li .phd__sns__item__link-instagram {
  background: #d93174;
}

.phd__sns li .phd__sns__item__link-instagram svg {
  height: 19px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-instagram svg {
    height: 15px;
  }
}

/* =========================================================
PARCO Footer
========================================================= */
.pft {
  margin-top: 52px;
  padding: 45px 0 58px;
  background: #222;
  position: relative;
}

@media screen and (min-width: 769px) {
  .pft {
    margin-top: 70px;
    padding: 50px 0 40px;
  }
}

.pft__in {
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .pft__in {
    max-width: 930px;
  }
}

.pft__logo {
  text-align: center;
}

.pft__logo svg {
  fill: #fff;
}

.pft__logo a {
  text-decoration: none;
}

.pft__logo__txt {
  width: 14px;
  height: 32px;
  margin-right: 4px;
}

.pft__logo__img {
  width: 120px;
  height: 36px;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.pft__logo__img.parcoya-ueno {
  width: 205px;
  height: 34px;
}

.pft__logo.nagoya .pft__logo__txt {
  margin-right: 5px;
}

.pft__pageTop {
  position: absolute;
  top: -66px;
  left: 50%;
  margin-left: -22px;
}

@media screen and (min-width: 769px) {
  .pft__pageTop {
    display: none;
    position: fixed;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 30px;
    margin: 0;
  }
}

.pft__pageTop a {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  background: #222;
  border-radius: 50%;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 769px) {
  .pft__pageTop a {
    width: 54px;
    height: 54px;
    background: #FFF;
    border-radius: 50%;
    text-indent: 100%;
  }
}

.pft__pageTop a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  width: 7px;
  height: 7px;
  border-top: #fff 2px solid;
  border-right: #fff 2px solid;
  transform: rotate(-45deg);
}

@media screen and (min-width: 769px) {
  .pft__pageTop a:after {
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -7px;
    width: 11px;
    height: 11px;
    border-top: #222 3px solid;
    border-right: #222 3px solid;
  }
}

.pft__pageTop a:hover {
  opacity: 0.7;
}

.pft__copyright {
  margin-top: 30px;
  text-align: center;
  line-height: 0;
}

.pft__copyright svg {
  height: 11px;
  fill: #fff;
  overflow: hidden;
}

/* =========================================================
layout
========================================================= */
/* =========================================================
header
========================================================= */
.header__title {
  text-align: center;
}

.header__title img {
  vertical-align: bottom;
}

@media screen and (min-width: 769px) {
  .header__title img {
    width: auto;
    max-width: 100%;
  }
}

/* =========================================================
Main
========================================================= */
@media screen and (min-width: 769px) {
  .main-contents {
    padding: 0 20px;
  }
}

/* =========================================================
Local navi
========================================================= */
.localnav {
  max-width: 1200px;
  margin: 30px auto 0;
  padding: 0 20px;
}

@media screen and (min-width: 769px) {
  .localnav {
    padding: 0;
  }
}

.localnav-list {
  display: flex;
  flex-wrap: wrap;
}

.localnav-item {
  width: calc(50% - 5px);
  margin: 10px 10px 0 0;
}

.localnav-item:nth-child(-n+2) {
  margin-top: 0;
}

.localnav-item:nth-child(2n) {
  margin-right: 0;
}

.localnav-item a,
.localnav-item button {
  width: 100%;
  height: 40px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
}

/* =========================================================
New&Renew items
========================================================= */
[v-cloak] {
  display: none;
}

.newrenew-block {
  max-width: 1200px;
  margin: 30px auto 0;
  padding: 0 20px;
}

@media screen and (min-width: 769px) {
  .newrenew-block {
    padding: 0;
  }
}

.newrenew-block .list-block {
  margin: 0 auto 50px;
}

.newrenew-block .list-block:last-child {
  margin-bottom: 0;
}

.newrenew-block .ttl {
  margin: 0 auto 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 769px) {
  .item-list {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
}

.item-list .item {
  width: 100%;
  margin: 0 0 20px;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .item-list .item {
    width: 33.33%;
    padding: 0 10px;
  }
}

.item-list .front-cont {
  height: 100%;
  border: 1px solid #000;
}

.item-list .front-cont .img-wrap {
  position: relative;
}

.item-list .front-cont .badge-l {
  width: 50px;
  padding: 10px;
  background: #fff;
  border: 1px solid #000;
  position: absolute;
  top: 0;
  left: 0;
}

.item-list .front-cont .badge-l .date {
  font-size: 15px;
  text-align: center;
}

.item-list .front-cont .badge-l .new-renew {
  margin: 1em 0 0;
  padding: 1em 0 0;
  border-top: 2px solid #000;
  font-size: 15px;
  text-align: center;
}

.item-list .front-cont .badge-r {
  width: 80px;
  height: 80px;
  background: #fff;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.item-list .front-cont .detail {
  padding: 20px;
}

.item-list .front-cont .logo {
  width: 70%;
  max-width: 250px;
  margin: 0 auto;
  border: 1px solid #000;
}

.item-list .front-cont .shop {
  margin: .5em auto 0;
  font-size: 18px;
  text-align: center;
}

.item-list .front-cont .floor,
.item-list .front-cont .ctg {
  margin: .5em auto 0;
  font-size: 15px;
  text-align: center;
}

.item-list .front-cont .more {
  width: 70%;
  max-width: 300px;
  margin: 20px auto 0;
}

.item-list .front-cont .more button {
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  color: #000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newrenew-modal .modal-wrap {
  width: calc(100vw - 40px);
  max-width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newrenew-modal .modal-cont {
  max-height: calc(100vh - 150px);
  background: #fff;
  overflow: scroll;
}

@media screen and (min-width: 769px) {
  .newrenew-modal .modal-cont {
    display: flex;
    align-items: center;
  }
}

.newrenew-modal .img-wrap {
  position: relative;
}

@media screen and (min-width: 769px) {
  .newrenew-modal .img-wrap {
    width: 50%;
  }
}

.newrenew-modal .img-slider {
  position: relative;
}

.newrenew-modal .img-slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.newrenew-modal .img-slider .slick-arrow.prev {
  left: 0;
}

.newrenew-modal .img-slider .slick-arrow.next {
  right: 0;
}

.newrenew-modal .img-slider .slick-arrow button {
  display: block;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid #000;
}

.newrenew-modal .img-slider .slick-arrow button:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  position: absolute;
  top: 17px;
  left: 19px;
  transform: rotate(-45deg);
}

.newrenew-modal .img-slider .slick-arrow button.slick-next {
  transform: scale(-1, -1);
}

.newrenew-modal .detail {
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .newrenew-modal .detail {
    width: 50%;
  }
}

.newrenew-modal .date {
  text-align: center;
  font-size: 15px;
}

.newrenew-modal .new-renew {
  margin: .8em auto 0;
  text-align: center;
  font-size: 18px;
}

.newrenew-modal .first {
  margin: .8em auto 0;
  text-align: center;
  font-size: 15px;
}

.newrenew-modal .logo {
  width: 70%;
  max-width: 250px;
  margin: 15px auto 0;
  border: 1px solid #000;
}

.newrenew-modal .shop {
  margin: .5em auto 0;
  font-size: 18px;
  text-align: center;
}

.newrenew-modal .floor,
.newrenew-modal .ctg {
  margin: .5em auto 0;
  font-size: 15px;
  text-align: center;
}

.newrenew-modal .introduction {
  margin: 20px auto 0;
  font-size: 13px;
  line-height: 1.3;
}

.newrenew-modal .open-event {
  margin: 20px auto 0;
}

.newrenew-modal .open-event .ttl {
  font-size: 18px;
  font-weight: bold;
}

.newrenew-modal .open-event .txt {
  margin: .5em auto 0;
  font-size: 13px;
  line-height: 1.3;
}

.newrenew-modal .link-list {
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newrenew-modal .link-item {
  width: 40px;
  margin: 0 5px 0 0;
}

.newrenew-modal .link-item:last-child {
  margin-right: 0;
}

.newrenew-modal .link-item a {
  display: block;
  border: 1px solid #000;
}

.newrenew-modal .modal-arrow {
  position: absolute;
}

.newrenew-modal .modal-arrow button {
  display: block;
  padding: 20px;
  background: #fff;
  border: 1px solid #000;
  font-size: 13px;
}

.newrenew-modal .modal-arrow.prev {
  left: 0;
}

.newrenew-modal .modal-arrow.next {
  right: 0;
}

/* =========================================================
modal
========================================================= */
.modal-block {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 50;
  display: none;
}

.modal-bg {
  width: 100vw;
  height: 150vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}

.modal-close {
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -50px;
  right: 0;
}

.modal-close:before {
  content: "×";
  font-size: 50px;
  transform: translateY(-4px);
}

/* =========================================================
slick
========================================================= */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*# sourceMappingURL=maps/style.css.map */
