@charset "utf-8";
/* =========================================================
colors
========================================================= */
@import "colors";

/* =========================================================
header
========================================================= */
.header {
  &__title {
    text-align: center;
    img {
      vertical-align: bottom;
    }
  }
}
@media screen and (min-width:769px) {
  .header {
    &__title {
      img {
        width: auto;
        max-width: 100%;
      }
    }
  }
}


/* =========================================================
Main
========================================================= */
@media screen and (min-width: 769px) {
  .main-contents {
    padding: 0 20px;
  }
}


/* =========================================================
ヘッダー下バナー
========================================================= */
.top-bnr-block {
  max-width: 596px;
  margin: 0 auto;
  padding: 20px 0 0;
  .bnr {
    margin: 0 auto 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width:769px) {
  .top-bnr-block {
    max-width: 930px;
    padding: 60px 0 0;
    .bnr {
      margin: 0 auto 20px;
    }
  }
}



/* =========================================================
YouTube
========================================================= */
.youtube {
  &-block {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0 0;
  }
  &-wrap {
    padding-top: 56.25%;
    position: relative;
    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
@media screen and (min-width:769px) {
  .youtube {
    &-block {
      padding: 60px 0 0;
    }
  }
}




/* =========================================================
Local navigation
========================================================= */
.localnav-wrap {
  max-width: 1024px;
  padding: 30px 0 0;
  margin: 0 auto;
}
.localnav {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  &__item {
    width: calc(50% - 5px);
    position: relative;
    margin: 0 10px 0 0;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: block;
      padding: 7px 0;
      text-align: center;
      background: $localnav;
      font-size: 1.6rem;
      font-weight: bold;
      position: relative;
      color: $localnav_txt;
      border-radius: 5px;
      text-decoration: none;
      &:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 8px 0 8px;
        border-color: transparent transparent transparent transparent;
        position: absolute;
        bottom: -8px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
      }
    }
  }
}
@media screen and (min-width:769px){
  .localnav-wrap {
    padding: 60px 0 0;
  }
  .localnav {
    padding: 0;
    &__item {
      width: calc(50% - 20px);
      margin: 0 40px 0 0;
      a {
        padding: 23px 0;
        font-size: 2.1em;
        border-radius: 8px;
        &:after {
          border-width: 8px 6px 0 6px;
        }
        &:hover {
          opacity: 0.7;
          text-decoration: none;
          background: $localnav_on;
          color: $localnav_on_txt;
        }
      }
    }
  }
}

/* current */
body.page-sale .localnav__item01,
body.page-tag .localnav__item02 {
  a {
    background: $localnav_on;
    color: $localnav_on_txt;
    &:after {
      border-color: $localnav_on transparent transparent transparent;
    }
  }
}



/* =========================================================
Contents block
========================================================= */
.contents {
  &-wrap {
    max-width: 1024px;
    margin: 40px auto 0;
  }
  &-block {
    margin: 0 0 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-ttl {
    margin: 0 auto 25px;
    padding: 9px 0;
    background: $title_bk;
    color: $title_txt;
    line-height: 1.1;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.15em;
    position: relative;
  }
}
@media screen and (min-width:769px){
  .contents {
    &-wrap {
      margin: 80px auto 0;
    }
    &-block {
      margin: 0 0 100px;
    }
    &-ttl {
      margin: 0 auto 70px;
      font-size: 3rem;
    }
  }
}




/* =========================================================
タグ集約
========================================================= */
.taglist {
  overflow: hidden;
  &__item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    list-style: none;
    display: none;
    &:first-child {
    border-top: 1px solid #ccc;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(-n+6) { /* 初期表示6件 */
      display: block;
    }
    &__in {
      height: 100%;
    }
    a {
      display: block;
      position: relative;
      height: 100%;
      padding: 15px;
      color: #555;
      background: #fff;
      font-size: 1.4rem;
      line-height: 1.5;
      text-decoration: none;
      box-sizing: border-box;
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 10px 10px;
        border-color: transparent transparent #555 transparent;
        position: absolute;
        right: 4px;
        bottom: 4px;
      }
    }
  }
  &__txt {
    margin-top: 15px;
  }
  &__photo {
    position: relative;
    padding: 0 40px;
  }
  &__kaeru {
    position: absolute;
    top: 0;
    left: 40px;
    font-size: 10px;
    font-size: 1rem;
    color: #fff;
    line-height: 1.1;
    display: inline-block;
    background: #ea5550;
    padding: 7px 5px;
  }
  &__name {
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  &__title {
    font-weight: bold;
    margin-bottom: 6px;
  }
}
@media screen and (min-width:769px) {
  .taglist {
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: calc(33.33% - 10px);
      margin: 15px 15px 0 0;
      border: 1px solid #ccc;
      box-sizing: border-box;
      &:nth-child(-n+3) {
        margin-top: 0;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    &__photo {
      padding: 0;
    }
  }
}
.btn-taglist-more {
  display: none;
  width: calc(100% - 150px);
  max-width: 435px;
  margin: 30px auto 0;
  padding: 15px 0;
  background: $more_bk;
  border-radius: 10px;
  border: none;
  color: $more_txt;
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  letter-spacing: 0.15em;
  font-weight: bold;
  @media screen and (min-width:769px) {
    margin: 40px auto 0;
    &:hover {
      opacity: 0.7;
    }
  }
}




/* =========================================================
OWNLY
========================================================= */
.ownly-wrap {
  padding: 0 10px;
  @media screen and (min-width:769px) {
    padding: 0;
  }
}



/* =========================================================
値書き
========================================================= */
/* 館ナビ */
.floornav {
  width: calc(100% - 40px);
  max-width: 620px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 4px;
  li {
    list-style: none;
    width: 50%;
    margin: 0;
    a {
      display: block;
      width: 100%;
      padding: 3px 0;
      display: inline-block;
      text-align: center;
      color: #000;
      font-size: 1.4rem;
      font-weight: bold;
      position: relative;
      text-decoration: none;
    }
  }
}
@media screen and (min-width:769px){
  .floornav {
    margin: 0 auto 50px;
    li {
      a {
        font-size: 2.0rem;
        text-decoration: none;
        color: #000;
        &:hover {
          text-decoration: none;
          opacity: 0.7;
        }
      }
    }
  }
}

/* current */
body.type1 .floornav .floornav__item01 a,
body.type2 .floornav .floornav__item02 a,
body.type3 .floornav .floornav__item03 a,
body.type4 .floornav .floornav__item04 a {
  background: #000;
  color: #FFF;
}
body.type1 .floornav .floornav__item01 a:after,
body.type2 .floornav .floornav__item02 a:after,
body.type3 .floornav .floornav__item03 a:after,
body.type4 .floornav .floornav__item04 a:after {
  border-color: #000 transparent transparent transparent;
}


/* 値書き*/
.salelist-container {
  margin: 50px 0 0;
}

.salelist-info1, .salelist-info2 {
  font-size: 1.5rem;
  padding: 0 10px;
  line-height: 1.6;
}

.salelists {
  margin: 20px auto 0;
  @media screen and (min-width:769px){
    margin: 60px auto 0;
  }
}
.salelist {
  padding: 0 0 10px;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;
    padding: 9px 20px;
    background: $floor_bk;
    color: $floor_txt;
    line-height: 1.1;
    .ico-arr {
      text-align: center;
      background: $floor_arrow01;
      width: 18px;
      height: 18px;
      border-radius: 9px;
      display: inline-block;
      position: relative;
      &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: $floor_arrow02 transparent transparent transparent;
        position: absolute;
        left: calc(50% - 4px);
        top: calc(50% - 3px);
        transition-duration: 200ms;
      }
    }
    &__floor {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 2rem;
      letter-spacing: 0.15em;
    }
  }
  &__shop {
    font-size: 1.4rem;
    border-top: 1px solid #ccc;
    &:first-child {
      margin-top: 0;
      border-top: none;
    }
  }
  &__link {
    padding: 30px 15px;
    display: block;
    text-decoration: none;
    color: #000;
  }
  &__data {
    display: table;
    width: 100%;
    &__item01 {
      display: table-cell;
      width: 80px;
      padding-right: 15px;
      vertical-align: middle;
      img {
        border: 1px solid #ccc;
      }
    }
    &__item02 {
      display: table-cell;
      vertical-align: middle;
    }
  }
  &__shopname {
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__text {
    margin-top: 5px;
  }
}
@media screen and (min-width:769px){
  .salelist {
    padding: 0 0 40px;
    &__title {
      &__floor {
        font-size: 3rem;
      }
    }
    &__cont {
      &__in{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
      }
    }
    &__shop {
      width: 50%;
      margin-top: 0;
      padding: 30px 20px;
      box-sizing: border-box;
      &:first-child {
      }
      &:nth-child(-n+2) {
        border: none;
      }
    }
    &__link {
      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
    &__data {
      &__item01 {
        width: 120px;
        padding-right: 25px;
        img {
          width: 100%;
          border: none;
        }
      }
      &__item02 {
      }
    }
    &__shopname {
      font-size: 1.3rem;
    }
    &__text {
      font-size: 1.5rem;
      margin-top: 10px;
      line-height: 1.6;
    }
  }
}
/* 開閉時の矢印*/
.salelist{
  &__title{
    &.is-open {
      .ico-arr {
        &:after {
          -webkit-transform:rotate(180deg);
                  transform:rotate(180deg)
        }
      }
    }
  }
}


/* =========================================================
フッター上バナー
========================================================= */
.footer-bnr {
  max-width: 1024px;
  margin: 30px auto 0;
  padding: 0 10px;
}
.ft-bnr {
  margin: 0 auto 10px;
  &:last-child {
    margin-bottom: 0;
  }
  a {
    display: block;
  }
}
@media screen and (min-width:769px) {
  .footer-bnr {
    margin: 60px auto 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .ft-bnr {
    width: calc(50% - 10px);
    margin: 0 20px 0 0;
    &:last-child {
      margin-right: 0;
    }
    a {
      &:hover {
        opacity: .7;
      }
    }
  }
}




/* =========================================================
フッター上SNSボタン
========================================================= */
.footer__social {
  text-align: center;
  font-size: 0;
  line-height: 0;
  .social__item {
    display: inline-block;
    height: 20px;
    margin: 0 2px;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
    @media screen and (min-width:769px){
      margin: 0 11px;
    }
    a:hover {
      opacity: 0.6;
    }
    img {
      height: 100%;
    }
  }
}