*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-family: sans-serif;
  font-size: 1.4em;
  line-height: 1.5;
}

@media print {
  html,
  body {
    _zoom: 70% !important;
  }
}
