@import "../setting/mixins";

/***
*
* parco-header
*
*/

.phd {
  overflow: hidden;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  background: #fff;

  @include media-min(medium) {
    min-width: 1200px;
    padding: 0 20px;
  }
}

.phd__in {
  position: relative;
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  @include media-min(medium) {
    height: 64px;
  }
}

.phd__logo a {
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.phd__logo__txt {
  width: 13px;
  height: 26px;
  margin-right: 2px;

  @include media-min(medium) {
    display: inline-block;
    width: 14px;
    height: 32px;
    margin-right: 4px;
    font-size: 1.5rem;
    vertical-align: middle;
  }
}

.phd__logo__img {
  width: 92px;
  height: 27px;
  margin-bottom: -1px;
  vertical-align: bottom;

  @include media-min(medium) {
    width: 120px;
    height: 36px;
    vertical-align: middle;
  }
}

.phd__sns li {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
}

.phd__sns li a {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  background: #222;
  border-radius: 50%;
  &:hover {
    opacity: 0.7;
  }

  @include media-min(medium) {
    width: 28px;
    height: 28px;
  }
}

.phd__sns li a svg {
  width: 100%;
  fill: #fff;
}

.phd__sns li .phd__sns__item__link-facebook {
  background: #3b5998;
}

.phd__sns li .phd__sns__item__link-facebook svg {
  height: 20px;

  @include media-min(medium) {
    height: 16px;
  }
}

.phd__sns li .phd__sns__item__link-twitter {
  background: #3ab1db;
}

.phd__sns li .phd__sns__item__link-twitter svg {
  height: 16px;

  @include media-min(medium) {
    height: 11px;
  }
}

.phd__sns li .phd__sns__item__link-lineat {
  background: #00b900;
}

.phd__sns li .phd__sns__item__link-lineat svg {
  height: 20px;

  @include media-min(medium) {
    height: 14px;
  }
}

.phd__sns li .phd__sns__item__link-instagram {
  background: #d93174;
}

.phd__sns li .phd__sns__item__link-instagram svg {
  height: 19px;

  @include media-min(medium) {
    height: 15px;
  }
}

/***
*
* parco-footer
*
*/

.pft {
  position: relative;
  padding: 45px 0 58px;
  margin-top: 52px;
  background: #222;

  @include media-min(medium) {
    min-width: 1200px;
    padding: 87px 0 100px;
    margin-top: 32px;
  }
}

.pft__in {
  position: relative;
  margin: 0 auto;

  @include media-min(medium) {
    max-width: 930px;
  }
}

.pft__logo {
  text-align: center;
}

.pft__logo__txt {
  display: inline-block;
  margin-right: 8px;
  color: #fff;
  font-size: 1.9rem;

  @include media-min(medium) {
    margin-right: 10px;
    font-size: 18px;
  }
}

.pft__logo__img {
  overflow: hidden; /* IE11 */
  width: 132px;
  height: 39px;
  margin-bottom: -2px;
  fill: #fff;
  vertical-align: bottom;
}

.pft__pageTop {
  position: absolute;
  top: -66px;
  left: 50%;
  margin-left: -22px;

  @include media-min(medium) {
    position: absolute;
    top: -4px;
    right: 0px;
    left: auto;
  }
}

.pft__pageTop a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 45px;
  height: 45px;
  background: #222;
  border-radius: 50%;
  text-indent: 100%;
  white-space: nowrap;
  &::after {
    position: absolute;
    top: 3px;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 9px;
    height: 9px;
    border-top: #fff 2px solid;
    border-right: #fff 2px solid;
    margin: auto;
    content: "";
    transform: rotate(-45deg);
  }

  @include media-min(medium) {
    width: 54px;
    height: 54px;
    background: #fff;
    border-radius: 50%;
    text-indent: 100%;
    &::after {
      width: 11px;
      height: 11px;
      border-top: #222 3px solid;
      border-right: #222 3px solid;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.pft__copyright {
  margin-top: 30px;
  line-height: 0;
  text-align: center;
}

.pft__copyright svg {
  overflow: hidden;
  height: 11px;
  fill: #fff;
}

/* footer-bnr */
.footer-bnr {
  padding: 0 10px 20px;
  margin-top: 30px;
  clear: both;

  @include media-min(medium) {
    display: flex;
    margin: 50px -10px 70px;
  }
}

.ft-bnr {
  margin-bottom: 20px;

  @include media-min(medium) {
    width: 50%;
    padding: 0 10px;
    margin: 0;
  }
  &:last-child {
    margin: 0;
  }
}

.ft-bnr a {
  display: block;
  &:hover {
    opacity: 0.7;
  }
}

.ft-bnr a img {
  width: 100%;
}

.footer__social {
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.footer__social .social__item {
  display: inline-block;
  height: 20px;
  margin: 0 2px;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  a:hover {
    opacity: 0.6;
  }

  @include media-min(medium) {
    margin: 0 11px;
  }
}

.footer__social .social__item img {
  height: 100%;
}

.localnav-wrap {
  margin-top: 30px;

  @include media-min(medium) {
    margin: 100px auto 0;
  }
}

.localnav {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;

  @include media-min(medium) {
    margin: 0;
  }
}

.localnav__item {
  position: relative;
  width: 48%;
}

.localnav__item a {
  position: relative;
  display: block;
  padding: 7px 0;
  background: #f2ec27;
  border-radius: 5px;
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  &::after {
    position: absolute;
    bottom: -8px;
    left: calc(50% - 8px);
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent transparent;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    content: "";
  }

  @include media-min(medium) {
    padding: 15px 0;
    border-radius: 8px;
    font-size: 2.1em;
    &::after {
      bottom: -8px;
      left: calc(50% - 10px);
      border-width: 8px 6px 0 6px;
    }
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.floornav {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  margin: 30px 20px 0;
  border-radius: 4px;

  @include media-min(medium) {
    margin: 80px 200px 20px;
  }
}

.floornav li {
  width: 50%;
  margin: 0;
  list-style: none;
}

.floornav li a {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 3px 0;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;

  @include media-min(medium) {
    font-size: 2rem;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

body.type1 {
  .floornav__item01 a,
  .floornav__item02 a {
    background: #000;
    color: #fff;
    &::after {
      border-color: #000 transparent transparent transparent;
    }
  }
}

body.page-sale,
body.page-tag {
  .localnav__item01 a,
  .localnav__item02 a {
    &::after {
      border-color: #f2ec27 transparent transparent transparent;
    }
  }
}
