@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  cursor: default;
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #818181;
  opacity: .9;
  filter: alpha(opacity=60);
}

#colorbox {
  outline: 0;
}

#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: #000;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  background: #000;
  /*padding: 1px;*/
}

/* #cboxLoadingGraphic {
    display: none;
    background: url(/images/floorguide/loading.gif) no-repeat center center;
} */
#cboxLoadingOverlay {
  background: #000;
}

#cboxTitle {
  display: none;
  position: absolute;
  top: -22px;
  left: 0;
  color: #000;
}

#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}

#cboxPrevious {
  display: none;
  width: 19px;
  height: 37px;
  margin: -18px 0 0;
  position: absolute;
  top: 50%;
  left: -60px;
}

#cboxNext {
  display: none;
  width: 19px;
  height: 37px;
  margin: -18px 0 0;
  position: absolute;
  top: 50%;
  right: -60px;
}

#cboxClose {
  width: 804px;
  height: 45px;
  background: #000 url(../images/btn_close.png) no-repeat center center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -400px;
}

body.update0912 #cboxClose {
  background: #000 url(../images/btn_close02.png) no-repeat center center;
  border: none;
}

.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
  right: 66px;
}

.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}

.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}

.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px;
}

.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #fff;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img:not([width]) {
  zoom: 1;
}

/***
*
* parco-header
*
*/
.phd {
  text-align: left;
  background: #fff;
}

.phd__in {
  position: relative;
  height: 55px;
}

.phd__logo {
  padding: 14px 0 0 10px;
}

.phd__logo a {
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.phd__logo__txt {
  width: 13px;
  height: 26px;
  margin-right: 2px;
}

.phd__logo__img {
  overflow: hidden;
  width: 92px;
  height: 27px;
  margin-bottom: -1px;
  vertical-align: bottom;
}

.phd__sns {
  position: absolute;
  top: 10px;
  right: 10px;
}

.phd__sns__item {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.phd__sns__item:last-child {
  margin-right: 0;
}

.phd__sns__item a {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  background: #222;
  border-radius: 50%;
}

.phd__sns__item a svg {
  fill: #fff;
}

.phd__sns .phd__sns__item__link-facebook {
  background: #3b5998;
}

.phd__sns .phd__sns__item__link-facebook svg {
  width: 100%;
  height: 16px;
}

.phd__sns .phd__sns__item__link-twitter {
  background: #3ab1db;
}

.phd__sns .phd__sns__item__link-twitter svg {
  width: 100%;
  height: 16px;
}

.phd__sns .phd__sns__item__link-lineat {
  background: #00b900;
}

.phd__sns .phd__sns__item__link-lineat svg {
  width: 100%;
  height: 20px;
}

.phd__sns .phd__sns__item__link-instagram {
  background: #d93174;
}

.phd__sns .phd__sns__item__link-instagram svg {
  width: 100%;
  height: 19px;
}

/***
*
* parco-footer
*
*/
.pft {
  position: relative;
  padding: 45px 0 58px;
  margin-top: 52px;
  background: #222;
}

.pft__in {
  position: relative;
  padding: 0;
  margin: 0 auto;
  background: transparent none;
}

.pft__logo {
  text-align: center;
}

.pft__logo__txt {
  display: inline-block;
  margin-right: 8px;
  color: #fff;
  font-size: 19px;
}

.pft__logo__img {
  overflow: hidden;
  width: 132px;
  height: 39px;
  margin-bottom: -2px;
  fill: #fff;
  vertical-align: bottom;
}

.pft__pageTop {
  position: absolute;
  top: -66px;
  left: 50%;
  margin-left: -22px;
}

.pft__pageTop a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 45px;
  height: 45px;
  background: #222;
  border-radius: 50%;
  text-indent: 100%;
  white-space: nowrap;
}

.pft__pageTop a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 7px;
  height: 7px;
  border-top: #fff 2px solid;
  border-right: #fff 2px solid;
  margin: -5px 0 0 -6px;
  content: "";
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pft__copyright {
  margin-top: 30px;
  line-height: 0;
  text-align: center;
}

.pft__copyright svg {
  height: 11px;
  fill: #fff;
}

/*************************************
helper classes
*************************************/
.mt00 {
  margin-top: 0 !important;
}

.mt03 {
  margin-top: 3px !important;
}

.mt05 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mb00 {
  margin-bottom: 0 !important;
}

.mb05 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml00 {
  margin-left: 0 !important;
}

.ml05 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.ml95 {
  margin-left: 95px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.mr00 {
  margin-right: 0 !important;
}

.mr05 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.pt00 {
  padding-top: 0 !important;
}

.pt05 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pb00 {
  padding-bottom: 0 !important;
}

.pb05 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.pb85 {
  padding-bottom: 85px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.pb95 {
  padding-bottom: 95px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pl00 {
  padding-left: 0 !important;
}

.pl05 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pl55 {
  padding-left: 55px !important;
}

.pl60 {
  padding-left: 60px !important;
}

.pl65 {
  padding-left: 65px !important;
}

.pl70 {
  padding-left: 70px !important;
}

.pl75 {
  padding-left: 75px !important;
}

.pl80 {
  padding-left: 80px !important;
}

.pl85 {
  padding-left: 85px !important;
}

.pl90 {
  padding-left: 90px !important;
}

.pl95 {
  padding-left: 95px !important;
}

.pl100 {
  padding-left: 100px !important;
}

.pr00 {
  padding-right: 0 !important;
}

.pr05 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pr65 {
  padding-right: 65px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pr80 {
  padding-right: 80px !important;
}

.pr85 {
  padding-right: 85px !important;
}

.pr90 {
  padding-right: 90px !important;
}

.pr95 {
  padding-right: 95px !important;
}

.pr100 {
  padding-right: 100px !important;
}

/* px */
.fz10 {
  font-size: 10px !important;
}

.fz11 {
  font-size: 11px !important;
}

.fz12 {
  font-size: 12px !important;
}

.fz13 {
  font-size: 13px !important;
}

.fz14 {
  font-size: 14px !important;
}

.fz15 {
  font-size: 15px !important;
}

.fz16 {
  font-size: 16px !important;
}

.fz17 {
  font-size: 17px !important;
}

.fz18 {
  font-size: 18px !important;
}

.fz19 {
  font-size: 19px !important;
}

.fz20 {
  font-size: 20px !important;
}

.fz21 {
  font-size: 21px !important;
}

.fz22 {
  font-size: 22px !important;
}

.fz23 {
  font-size: 23px !important;
}

.fz24 {
  font-size: 24px !important;
}

.fz25 {
  font-size: 25px !important;
}

.fz26 {
  font-size: 26px !important;
}

.fz27 {
  font-size: 27px !important;
}

.fz28 {
  font-size: 28px !important;
}

.fz29 {
  font-size: 29px !important;
}

.fz30 {
  font-size: 30px !important;
}

.fz31 {
  font-size: 31px !important;
}

.fz32 {
  font-size: 32px !important;
}

.fz33 {
  font-size: 33px !important;
}

.fz34 {
  font-size: 34px !important;
}

.fz35 {
  font-size: 35px !important;
}

.fz36 {
  font-size: 36px !important;
}

.fz37 {
  font-size: 37px !important;
}

.fz38 {
  font-size: 38px !important;
}

.fz39 {
  font-size: 39px !important;
}

.fz40 {
  font-size: 40px !important;
}

.lh00 {
  line-height: 0 !important;
}

.lh11 {
  line-height: 1.1 !important;
}

.lh12 {
  line-height: 1.2 !important;
}

.lh13 {
  line-height: 1.3 !important;
}

.lh14 {
  line-height: 1.4 !important;
}

.lh15 {
  line-height: 1.5 !important;
}

.lh16 {
  line-height: 1.6 !important;
}

.lh17 {
  line-height: 1.7 !important;
}

.lh18 {
  line-height: 1.8 !important;
}

.lh19 {
  line-height: 1.9 !important;
}

.lh20 {
  line-height: 2 !important;
}

.lh21 {
  line-height: 2.1 !important;
}

.lh22 {
  line-height: 2.2 !important;
}

.lh23 {
  line-height: 2.3 !important;
}

.lh24 {
  line-height: 2.4 !important;
}

.lh25 {
  line-height: 2.5 !important;
}

.ta-c {
  text-align: center !important;
}

.ta-l {
  text-align: left !important;
}

.ta-r {
  text-align: right !important;
}

.dy-n {
  display: none !important;
}

.dy-b {
  display: block !important;
}

.dy-ib {
  display: inline-block !important;
}

.dy-i {
  display: inline !important;
}

.fl-l {
  float: left !important;
}

.fl-r {
  float: right !important;
}

.fl-n {
  float: none !important;
}

.va-m {
  vertical-align: middle !important;
}

.va-bl {
  vertical-align: baseline !important;
}

.va-t {
  vertical-align: top !important;
}

.va-b {
  vertical-align: bottom !important;
}

.td-u {
  text-decoration: underline !important;
}

.fw-b {
  font-weight: bold !important;
}

.fw-n {
  font-weight: normal !important;
}

.header__title {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #000;
  margin-bottom: 52px;
}

.shop-list {
  padding: 15px;
}

.shop-list__item {
  background: #fff;
  border: solid 1px #000;
}

.shop-list__notes {
  margin: 30px 15px 42px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5;
}

.shop-list__coming-image {
  position: relative;
  z-index: 3;
  margin-bottom: -13px;
  text-align: center;
}

.shop-list__coming-text {
  position: relative;
  z-index: 2;
  padding: 20px 18px;
  border: solid 2px #000;
  margin: 0 15px;
  margin-top: 104px;
  margin-bottom: 255px;
  color: #2a2a2a;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.shop__modal-trigger {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}

.shop__photo {
  display: block;
  width: 100%;
  height: auto;
}

.shop__center-block {
  padding: 5px 20px 0 20px;
}

.shop__link {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #000;
  color: #000;
}

.shop__info {
  flex: 0 0 70px;
  width: 70px;
  height: 70px;
  padding: 10px 8px;
  background: #e3007f;
  border-radius: 50%;
  color: #fff;
  line-height: 1.1;
  text-align: center;
}

.shop__logo {
  flex: 1 1 auto;
  text-align: center;
}

.shop__logo-image {
  width: 100%;
}

.shop__date-day {
  font-size: 13px;
}

.shop__date-week {
  padding-bottom: 2px;
  border-bottom: 1px solid;
  margin-top: 4px;
  font-size: 10px;
}

.shop__classification {
  margin-top: 4px;
  font-size: 10px;
}

.shop__bottom-block {
  margin: 13px 20px 0 20px;
}

.shop__name {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  word-break: break-word;
}

.shop__floor {
  margin-top: 8px;
  color: #727171;
  line-height: 1.4;
  text-align: center;
  font-size: 11px;
}

.shop__description {
  display: none;
  padding-top: 12px;
  margin-top: 0px;
  font-size: 12px;
  line-height: 1.54;
}

.shop__special-heading {
  padding-top: 1.5em;
}

.shop__toggle-button {
  display: block;
  width: calc(100% + 40px);
  padding: 13px 0;
  margin: 17px -20px 0;
  border: 0;
  background: #000;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.shop__toggle-button::after {
  content: "+ MORE";
}

.shop__toggle-button.is-open::after {
  content: "- CLOSE";
}

.shop-modal {
  display: none;
}

.shop-modal__content {
  display: flex;
  padding: 47px 43px 136px;
  background: #fff;
}

.shop-modal__photo {
  flex: 0 0 310px;
}

.shop-modal__photo-image {
  vertical-align: middle;
  max-width: 100%;
}

.shop-modal__detail {
  margin-left: 90px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, Osaka, "MS PGothic", sans-serif;
  font-size: 13px;
  font-style: italic;
}

.shop-modal__info {
  color: #e3007f;
  font-family: "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, Osaka, "MS PGothic", sans-serif;
  font-size: 18px;
}

.shop-modal__floor-category {
  margin-bottom: 10px;
}

.shop-modal__name {
  padding-left: 5px;
  border-left: 4px solid #e3007f;
  margin: 20px 0 15px;
  font-family: "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, Osaka, "MS PGothic", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.shop-modal__name-link {
  text-decoration: none;
}

.shop-modal__name-arrow {
  display: inline-block;
  width: 17px;
  height: 12px;
  margin: -1px 0 1px 0px;
  background: url("/app/assets/images/icons/icon_arrow01.png") no-repeat center;
}

.shop-modal__paragraph {
  line-height: 1.8;
}

.shop-modal__special-heading {
  margin: 32px 0 10px;
  color: #e3007f;
  font-family: "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, Osaka, "MS PGothic", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
}

@media screen and (min-width: 769px) {
  a:link, a:visited {
    color: #333;
    text-decoration: none;
  }
  a:hover {
    color: #333;
    text-decoration: underline;
  }
  .phd {
    min-width: 1200px;
    padding: 0 20px;
  }
  .phd__in {
    height: 64px;
  }
  .phd__logo__txt {
    display: inline-block;
    width: 14px;
    height: 32px;
    margin-right: 4px;
    font-size: 1.5rem;
    vertical-align: middle;
  }
  .phd__logo__img {
    width: 120px;
    height: 36px;
    vertical-align: middle;
  }
  .phd__sns__item a {
    width: 28px;
    height: 28px;
  }
  .phd__sns .phd__sns__item__link-facebook svg {
    height: 16px;
  }
  .phd__sns .phd__sns__item__link-twitter svg {
    height: 11px;
  }
  .phd__sns .phd__sns__item__link-lineat svg {
    height: 14px;
  }
  .phd__sns .phd__sns__item__link-instagram svg {
    height: 15px;
  }
  .pft {
    min-width: 1200px;
    padding: 50px 0 40px;
    margin-top: 70px;
  }
  .pft__logo__txt {
    margin-right: 10px;
    font-size: 18px;
  }
  .pft__pageTop {
    position: absolute;
    top: -4px;
    right: 0;
    left: auto;
  }
  .pft__pageTop a {
    width: 54px;
    height: 54px;
    background: #fff;
  }
  .pft__pageTop a:hover {
    opacity: 0.7;
  }
  .pft__pageTop a::after {
    width: 11px;
    height: 11px;
    border-top: #222 3px solid;
    border-right: #222 3px solid;
    margin: -5px 0 0 -7px;
  }
  .sp-visible {
    display: none;
  }
  .pc-visible {
    display: block;
  }
  .contents {
    min-width: 1200px;
    margin: 0 auto;
  }
  .header {
    min-width: 1200px;
  }
  .header__title {
    text-align: center;
  }
  .shop-list {
    padding: 154px 0 0;
  }
  .shop-list__items {
    position: relative;
    z-index: 999;
    display: flex;
    max-width: 986px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  .shop-list__item {
    position: relative;
    max-width: 312px;
    border: solid 1px #000;
    margin: 0 0 25px 0;
  }
  .shop-list__item:nth-child(2n) {
    margin-right: 0;
  }
  .shop-list__notes {
    width: 85%;
    max-width: 980px;
    padding-top: 26px;
    margin-right: auto;
    margin-left: auto;
    color: #2a2a2a;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.3;
  }
  .shop-list__coming-image {
    display: none;
  }
  .shop-list__coming-text {
    width: 85%;
    max-width: 1200px;
    padding: 30px 18px;
    margin: 0 auto;
    font-size: 24px;
  }
  .shop-list__coming-text::after {
    position: absolute;
    top: -24px;
    left: 38%;
    content: url("/app/assets/images/txt_coming.png");
  }
  .shop {
    position: relative;
  }
  .shop__bottom-block {
    padding-bottom: 20px;
  }
  .shop__toggle-button {
    display: none;
  }
}

@media print {
  html,
  body {
    _zoom: 70% !important;
  }
}

@media screen and (max-width: 768px) {
  .sp-visible {
    display: block;
  }
  .pc-visible {
    display: none;
  }
  .shop-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .shop__modal-trigger {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
