@import "_variables.scss";

@mixin media-min($breakpoint: medium) {
  @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

@mixin media-max($breakpoint: medium) {
  @media screen and (max-width: #{map-get($breakpoints, $breakpoint) - 1}) {
    @content;
  }
}
