*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #fff;
  font-family: sans-serif;
}

a {
  text-decoration: none;

  @include media-min(medium) {
    &:link,
    &:visited {
      color: #333;
      text-decoration: none;
    }
    &:hover {
      color: #333;
      text-decoration: underline;
    }
  }
}

@media print {
  html,
  body {
    _zoom: 70% !important;
  }
}

img:not([width]) {
  zoom: 1;
}
