/***
*
* parco-header
*
*/

.phd {
  text-align: left;
  background: #fff;

  @include media-min(medium) {
    min-width: 1200px;
    padding: 0 20px;
  }
}

.phd__in {
  position: relative;
  height: 55px;

  @include media-min(medium) {
    height: 64px;
  }
}

.phd__logo {
  padding: 14px 0 0 10px;
}

.phd__logo a {
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.phd__logo__txt {
  width: 13px;
  height: 26px;
  margin-right: 2px;

  @include media-min(medium) {
    display: inline-block;
    width: 14px;
    height: 32px;
    margin-right: 4px;
    font-size: 1.5rem;
    vertical-align: middle;
  }
}

.phd__logo__img {
  overflow: hidden;
  width: 92px;
  height: 27px;
  margin-bottom: -1px;
  vertical-align: bottom;

  @include media-min(medium) {
    width: 120px;
    height: 36px;
    vertical-align: middle;
  }
}

.phd__sns {
  position: absolute;
  top: 10px;
  right: 10px;
}

.phd__sns__item {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
}

.phd__sns__item a {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  background: #222;
  border-radius: 50%;

  @include media-min(medium) {
    width: 28px;
    height: 28px;
  }
}

.phd__sns__item a svg {
  fill: #fff;
}

.phd__sns .phd__sns__item__link-facebook {
  background: #3b5998;
}

.phd__sns .phd__sns__item__link-facebook svg {
  width: 100%;
  height: 16px;

  @include media-min(medium) {
    height: 16px;
  }
}

.phd__sns .phd__sns__item__link-twitter {
  background: #3ab1db;
}

.phd__sns .phd__sns__item__link-twitter svg {
  width: 100%;
  height: 16px;

  @include media-min(medium) {
    height: 11px;
  }
}

.phd__sns .phd__sns__item__link-lineat {
  background: #00b900;
}

.phd__sns .phd__sns__item__link-lineat svg {
  width: 100%;
  height: 20px;

  @include media-min(medium) {
    height: 14px;
  }
}

.phd__sns .phd__sns__item__link-instagram {
  background: #d93174;
}

.phd__sns .phd__sns__item__link-instagram svg {
  width: 100%;
  height: 19px;

  @include media-min(medium) {
    height: 15px;
  }
}

/***
*
* parco-footer
*
*/

.pft {
  position: relative;
  padding: 45px 0 58px;
  margin-top: 52px;
  background: #222;

  @include media-min(medium) {
    min-width: 1200px;
    padding: 50px 0 40px;
    margin-top: 70px;
  }
}

.pft__in {
  position: relative;
  padding: 0;
  margin: 0 auto;
  background: transparent none;
}

.pft__logo {
  text-align: center;
}

.pft__logo__txt {
  display: inline-block;
  margin-right: 8px;
  color: #fff;
  font-size: 19px;

  @include media-min(medium) {
    margin-right: 10px;
    font-size: 18px;
  }
}

.pft__logo__img {
  overflow: hidden;
  width: 132px;
  height: 39px;
  margin-bottom: -2px;
  fill: #fff;
  vertical-align: bottom;
}

.pft__pageTop {
  position: absolute;
  top: -66px;
  left: 50%;
  margin-left: -22px;

  @include media-min(medium) {
    position: absolute;
    top: -4px;
    right: 0;
    left: auto;
  }
}

.pft__pageTop a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 45px;
  height: 45px;
  background: #222;
  border-radius: 50%;
  text-indent: 100%;
  white-space: nowrap;
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 7px;
    height: 7px;
    border-top: #fff 2px solid;
    border-right: #fff 2px solid;
    margin: -5px 0 0 -6px;
    content: "";
    transform: rotate(-45deg);
  }

  @include media-min(medium) {
    width: 54px;
    height: 54px;
    background: #fff;
    &:hover {
      opacity: 0.7;
    }
    &::after {
      width: 11px;
      height: 11px;
      border-top: #222 3px solid;
      border-right: #222 3px solid;
      margin: -5px 0 0 -7px;
    }
  }
}

.pft__copyright {
  margin-top: 30px;
  line-height: 0;
  text-align: center;
}

.pft__copyright svg {
  height: 11px;
  fill: #fff;
}
