@media screen and (max-width: 768px) {
  .sp-visible {
    display: block;
  }
  .pc-visible {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .sp-visible {
    display: none;
  }
  .pc-visible {
    display: block;
  }
}
